@import '../_mixins';

@include respond-to(tablet) {
  .container {
    font-size: 20px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

@include respond-to(desktop) {
  .container {
    width: 800px;
  }
}

