@import '../_variables';
@import '../_mixins';

.generator {
  display: block;
  margin: 16px auto 0 auto;
  padding: 8px;
  text-transform: uppercase;
  background-color: $light-grey;
  text-decoration: none;
  color: $black;
  text-align: center;
  @include transform(background-color, 0.2s, ease);


  &:hover {
    background-color: $dark-grey;
  }

}